{% load static %}
<footer class="text-center">
  <div class="pielogo">
    <img class="logogr" src="{% static 'img/logogr.png' %}" alt="">
  </div> 
            <div class="piecolor">
              <a class="text-black" href="https://instagram.com/hamsterumis">&#x1f4f8 Instagram</a>
            </div>
            <div class="piecolor">
              <a class="text-black" href="https://etsy.com/es/shop/HamsterumisCrochet?ref=profile_header">&#x1f516 Tienda Etsy</a>
            </div>
            <div class="piecolor">
              <a class="text-black" href="https://ravelry.com/designers/valentina-sepulveda">&#x1f516 Tienda Ravelry</a>
            </div>
            <div class="piecolor">
              <a class="text-black" href="https://ko-fi.com/hamsterumis">&#x1f375 Ko-fi</a>
            </div>
    <div class="piecolor text-center p-3">
      © By Valentina Sepúlveda &#x1f439     
    </div>
  </footer>