{% load static %}


  <img class="imgyo" src="{%static 'img/yo.jpg'%}" alt="">


<div class="row">
    <div class="col-4">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">Hola!</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">Cómo empecé a tejer</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Cómo surgió Hamsterumis</a>
      </div>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <h5 id="list-item-1">Un poco sobre mí</h5>
        <p class="p1">Mi nombre es Valentina, tengo 28 años, nacida y criada en Chile.
          Desde pequeña me gusta el arte y la música. Siempre me he caracterizado por mi
          creatividad. De niña mis más grandes aficiones eran dibujar, colorear y cantar.
          Hasta el día de hoy cantar sigue siendo una de mis grandes pasiones, aunque ciertamente
          ha quedado un poco detrás de mi pasión por tejer.
          Mi color favorito es el azul, y aunque adoro comer muchas cosas, mi plato favorito es 
          la pasta con salsa bolognesa.
          Otra cosa que amo desde temprana edad es la animación japonesa, mucho de lo que hago 
          está notoriamente influenciado por ella. Mi anime favorito de la vida es Inuyasha. Sin 
          duda verás muchos personajes de este mundo en mis amigurumis.
        </p>
        <h5 id="list-item-2">Mis inicios</h5>
        <p class="p1">Siempre me han gustado las manualidades, puedo decir que fui una alumna destacada en la clase de artes en el colegio.
          Siempre me gustó dibujar, sin embargo, nunca me planteé la posibilidad de tejer.
          Mi madre y mi abuela son tejedoras experimentadas, en especial mi mamá que sabe un poco de todo, desde cocer, hasta pintar, por lo que intentó en más
          de una oportunidad introducirme en alguno de esos mundos, sin mucho éxito.
          Para el año 2013 me encontraba cursando mi primer año en la universidad, que para mi mala/buena suerte estuvo en paro 3 meses enteros,
          prácticamente todo el invierno. Fue entonces que una noche mi mamá me comentó sobre unos bonitos muñecos tejidos a crochet, sólo hizo
          falta ver una sola foto de un ejemplar para que mis ojos brillaran, fue amor a primera vista.
          Con una chispa encendida dentro de mi le pedí ahí mismo que me enseñara. Mi mamá no tenía idea de muñecos, pero sabe todo lo que al
          ganchillo se refiere, me enseñó todos los puntos básicos de la técnica y no hubo vuelta atrás. Para el día siguiente ya había tejido mi primer
          amigurumi y ha sido un viaje sin pausas hasta hoy, 10 años después.
        </p>
        <h5 id="list-item-3">El nacimiento de Hamsterumis</h5>
        <p class="p1">Mi animal favorito es el gato, entonces por qué hamsters? Bueno, mis primeras mascotas, regalo de mi tío en mi 8vo cumpleaños,
          fue una pareja de hamsters: Pepe y Pepa. Ambos tuvieron 8 crías, una invasión hamsterística. Los amé con todo mi corazón, sin duda son excelentes compañías 
          y me enseñaron valiosas lecciones en mi infancia. Sin embargo, no fue hasta el 2017 (13 años después, 4 años tejiendo), cuando quise iniciar una cuenta
          en Instagram para mostrar mis creaciones. No sabía como llamarme, así que le pregunté a mi pareja: "Cómo llamarías tu a mi tienda de amigurumis?",
          la respuesta casi inmediata fue: "Hamsterumis"(hamster + amigurumis), me encantaba como sonaba y él sabía que había tenido hamsters como mascotas, pero al preguntar:
          "Por qué Hamsterumis?", para mi sorpresa la respuesta fue: "Porque tienes cara de hamster" jajajaja Lejos de ofenderme, me pareció la comparación más 
          tierna y perfecta. Así que, más allá de un gusto obsesivo por los hamsters, es una profunda identificación con ellos, su carácter y sus hábitos.
        </p>
      </div>
    </div>
  </div>