{% load static %}
<div id="navega">
  <nav class="navbar navbar-expand-lg">
      <div id="barra" class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/logo.png'%}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Hamsterumis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div id="textnav" class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            <a class="nav-link" href="/sobre_mi/sobre_mi">Sobre mi</a>
            <a class="nav-link" href="/form/">Suscríbete</a>
          </div>
        </div>
      </div>
  </nav>
</div>