{% load static %}
<div class="card-group">
    <div class="card">
      <img src="{% static 'img/abeham.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Abeham</h5>
        <p class="card-text">Abjea + Hamster, el proyecto para la Party Ham 2021. Gratuito en mi Instagram.</p>
      </div>
      <div class="card-footer">
        <a href="https://www.instagram.com/p/CRWimNBLNho/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==">ENCUENTRALO AQUÍ</a>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/bruham.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bruham</h5>
        <p class="card-text">Bruja + Hamster, el proyecto para la Party Ham 2022. Gratuito en mi Instagram.</p>
      </div>
      <div class="card-footer">
        <a href="https://www.instagram.com/p/CfpMUCiO6wi/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==">ENCUENTRALO AQUÍ</a>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/kirby.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kirby memes</h5>
        <p class="card-text">Kirby memes para llavero. Elije tu favorito. Gratuito en mi Instagram, incluye video en vivo.</p>
      </div>
      <div class="card-footer">
        <a href="https://www.instagram.com/p/CrwRo26unrZ/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==">ENCUENTRALO AQUÍ</a>
      </div>
    </div>
  </div>